#parent{
    background-color: antiquewhite;
    height: 725px;
    
    display: flex;
}
#d1{
    background-color: green;
   width: 11%;
   color: white;
   font-size: 80px;
   text-align: center;

}
#d2{
    background-color:yellow;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;

}
#d3{
    background-color:purple;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;
}
#d4{
    background-color:grey;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;
}
#d5{
    background-color:blue;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;

}
#d6{
    background-color: orange;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;

}
#d7{
    background-color: papayawhip;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;
}
#d8{
    background-color: red;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;
}
#d9{
    background-color: darkred;
    width: 11%;
    color: white;
   font-size: 80px;
   text-align: center;
}