#parent{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "black black black " "orange orange green" " blue blue blue";
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 15% 60% 25%;
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 0;

    
}
    

#black{
    background-color: black;
    grid-area: black;
}
#orange{
    background-color: orange;
    grid-area: orange;
}
#green{
    background-color: green;
    grid-area: green;
}
#blue{
    background-color: blue;
    grid-area: blue;
}
