body{
    background-color:#f9f9bd;
   
}
.d1{
    background-color: white;
    width: 650px;
    border: 1px solid;
    padding: 10px;
}
.d2{
    background-color: white;
    width: 650px;
    border: 1px solid;
    padding: 10px;
    position: relative;
    top: 20px;

}
.d3{
    background-color: white;
    width: 650px;
    border: 2px dashed red;
    padding: 10px;
    position: relative;
    top: 40px;
    color: red;
    display: inline-block;
    margin-bottom: 70px;
}

#p1{
    border: 1px dashed red;
    
}
.s1{
    background-color: rgb(247, 195, 99);
    font-weight: bold;
}
.s2{
    background-color: yellow;
    font-weight: bold;
}