*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #ededb9;
}

#head1{
    background-color: #e4e437;
    height: 140px;
    width: 1113px;
    position: relative;
    left: 225px;

}

#d1{
    background-color: white;
    width: 750px;
    height: 600px;
    position: relative;
    left: 225px;
    display: inline-block;
    
}
#d2{
    background-color: #cfc6c6;
    display: inline-block;
    position: absolute;
    left: 975px;
    padding: 35px;
    height: 530px;
    width: 293px;
}


