#parent{
    background-color: white;
    height: 725px;
    display: flex;
}

#d1{
    background-color: orange;
    width:50% ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
#d2{
    background-color: blue;
    width: 50%;
    font-size: 100px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}